/.vercel
/node_modules
.next
.env.local
.DS_Store
/.venv
dist
build
coverage
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.vercel
.env*.local
tsconfig.tsbuildinfo


# Turbopack cache
.turbo
.turbo/
