@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 101, 67, 33; /* Deep Brown RGB (#654321) */
  --background-end-rgb: 101, 67, 33; /* Deep Brown RGB (#654321) */
}

body {
  color: rgb(var(--foreground-rgb));
  background: #654321; /* DEEP BROWN BACKGROUND */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
